header {
    text-align: center;
    color: goldenrod;
    background-color: gainsboro;
}

.info > h2 {
    color: paleturquoise;
    background-color: cadetblue;
}

img {
    text-align: center;
}

h3 {
    align-content: center;
    color: snow;
    background-color: sandybrown;
}